@font-face {
    font-family: cairo;
    font-display: swap;
    src: url(../fonts/Cairo-Medium.ttf);
  }
  @font-face {
    font-family: cairo-sem;
    font-display: swap;
    src: url(../fonts/Cairo-SemiBold.ttf);
  }
  * {
    font-family: "cairo",sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    direction: rtl;
    -webkit-print-color-adjust: exact;
       /* color-adjust: exact; */
            print-color-adjust: exact;
  }
  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    text-decoration: none;
    color: #eab61e;
  }
  
  button:focus {
    outline: 0;
  }
  
  .row {
    margin: 0px;
  }
  
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .container,
  .container-fluid {
      padding: 0px 8px;
    }
  }
  video,
  img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }
  
  .navbar-toggler {
    border: none;
    box-shadow: none !important;
  }
  ul{
    list-style: none;
  }
  .btn:focus {
    box-shadow: none;
  }
  .section-box {
    display: inline-block;
    width: 100%;
    overflow: visible;
    margin-top: 130px;
    margin-bottom: 50px;
  }
  .select2-container--default .select2-selection--single {
    min-height: 48px;
    display: flex;
    align-items: center;
    border-color: #ced4da;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: unset;
    top: 50%;
    transform: translateY(-50%);
  }
  
  span.select2.select2-container.select2-container--default {
    width: 100% !important;
  }
  
  .select2-results__option--selectable {
    border-radius: 4px;
    margin-bottom: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #1014ab !important;
    color: #ffffff !important;
  }
  
  .select2-dropdown {
    border-radius: 4px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961) !important;
    border-color: transparent;
  }
  
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 10px 20px;
  }  
  .container-fluid {
    max-width: 1500px;
  }
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/* --------------------------------------- header ------------------------------------------------------ */
header#header .header-top {
  background-color: #037b92;
  color: #d9d8dd;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  height: 50px;
}
header#header .header-top > .container > .row > div {
    max-width: 100%;
}
header#header .header-top .element {
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.8;
    font-weight: 300;
    position: relative;
    z-index: 1;
}
header#header .header-top .element li{
    display: inline-block;
    position: relative;
    margin-left: 13px;
}
header#header .header-top .element li i{
  padding-left: 10px;
}
header#header .header-top .element-icons{
  float: left;
}
header#header .header-top .element .styled-icons{
  margin-right: 15px;
}
header#header .header-top .element .styled-icons i{
  color: #d9d8dd;
  font-size: 18px;
  vertical-align: middle;
}
header#header .header-top .element .styled-icons img{
  color: #d9d8dd;
  width: 24px;
  height: 35px;
  padding-left: 5px;
  filter: invert(0.8);

}
header#header .header-nav{
  background: #10181b;
  height: 95px;
}
header#header .header-nav .site-brand img{
  width: 216px;
  max-width: 100%;
  display: inline-block;
  position: relative;
  margin-top: 20px;
}
header#header .header-nav .header-menu{
  position: relative;
  display:flex;
  margin-top: 37px;
  margin-right: 95px;
}
header#header .header-nav .header-menu li{
  display: flex;
      color: #d9d8dd;
      margin-left: 25px;
      line-height: 1.6;
      font-size: 18px;
}
header#header .header-nav .header-menu li.active a{
  color: #037b92;
}
header#header .header-nav .header-menu li:hover a{
  color: #0CC5DD;
}
header#header .header-nav .header-menu li a{
  font-family: "cairo-sem",sans-serif;
  color: #d9d8dd;
  font-size: 18px;
  letter-spacing: 1.4px; 
}
header#header .header-nav .header-icons ul{
  display: flex;
  padding-right: 0;
  margin-top: 37px;
  position: relative;
}
header#header .header-nav .header-icons ul li a{
  display: flex;
  position: relative;
  color: #d9d8dd;
  font-size: 24px;
  line-height: 1.6;
  margin-left: 16px;
}
header#header .header-nav .header-icons ul li a span{
  font-size: 20px;
  position: absolute;
  top: -14px;
  left: -10px;
  background: #037b83;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  padding-right: 4px;
  padding-top: 0;
}
/* --------------------------------------- banner ------------------------------------------------------ */
.banner-section{
  background-image: url(../images/banner.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.3s;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 45px;
  padding-right:45px;
  z-index: 1;
}
.banner-section .overlay{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: #000;
}
.banner-section .banner-text{
  position: relative;
  width: 640px;
  z-index: 5;
}
.banner-section .banner-text h4{
  color: #0CC5DD;
  margin-bottom: 20px;
  font-size: 21px;
}
.banner-section .banner-text h4 i{
  padding-left: 12px;
}
.banner-section .banner-text h1{
  color: #fff;
  text-align: right;
    font-family: "cairo", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.7em;
    letter-spacing: 0.8px;
    display: block;
}
.banner-section .banner-text p{
  font-size: 19px;
  color: #d9d8ddd9;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  line-height: 37px;
  margin-bottom: 60px;
}
.banner-section .banner-text a{
  background: #037B92;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 27px;
  font-weight: 500;
  letter-spacing: 1.2px;
  border-radius: 3px;
}
/* ------------------------------------- home-about ---------------------------------- */
.home-about{
  position: relative;
  display: block;
  background: #0c0c0c;
  padding-top: 100px;
}
.home-about .right-text{
  padding-bottom:100px;
}
.home-about .right-text h4{
  color: #0CC5DD;
  margin-bottom: 20px;
  font-size: 22px;
}
.home-about .right-text h4 i{
  padding-left: 12px;
}
.home-about .right-text h1{
  color: #fff;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
  display: block;
}
.home-about .right-text p{
  font-size: 20px;
  color: #d9d8ddd9;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  line-height: 33px;
  margin-bottom: 40px;
}
.home-about .right-text a{
  background: #037B92;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 27px;
  font-weight: 500;
  letter-spacing: 1.2px;
  border-radius: 3px;
}
.home-about .about-adv{
  background: #10181B;
  border-bottom: 3px solid #0cc5dd;
  position: relative;
  width: 250px;
  height: 139px;
  margin-right: 15px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 12px;
  margin-top: 33px;
}
.home-about .about-adv i{
  font-size: 35px;
  color: #0CC5DD;
  display: inline-block;
  line-height: 1;
  transition: all .3s;
  text-align: center;
  padding: 10px 0;
}
.home-about .about-adv h5{
  font-family: "cairo-sem", Sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.6em;
  padding-top: 8px;
  letter-spacing: 1px;
  color: #fff;
}
.home-about .discover {
  position: relative;
  display: block;
  padding-top: 70px;
  padding-bottom: 100px;
}
.home-about .discover .heading-title h2{
  color: #fff;
    font-family: "cairo", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    display: block;
}
.home-about .discover .heading-title p{
  color: #d9d8dd;
  width: 92%;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
  margin-bottom: 30px;
}
.home-about .discover .discover-box {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.3s;
  display: block;
  margin: 0;
  height: 380px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 5px;
  padding-right:30px;
  z-index: 0;
  text-align: right;
  border-radius: 3px;
  margin-top: 50px;
}
.home-about .discover .discover-box .overlay{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #111;
  border-radius: 3px;
}
.home-about .discover .discover-box.box-one{
  background-image: url(../images/box-1.jpg);
}
.home-about .discover .discover-box.box-two{
  background-image: url(../images/box-2.jpg);
}
.home-about .discover .discover-box.box-three{
  background-image: url(../images/box-3.jpg);
}
.home-about .discover .discover-box.box-four{
  background-image: url(../images/box-4.jpg);
}
.home-about .discover .discover-box h5{
  color: #0CC5DD;
  text-align: right;
    font-family: "cairo", Sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    display: block;
}
.home-about .discover .discover-box p{
  font-size: 19px;
  color: #d9d8ddd9;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  line-height: 33px;
  margin-bottom: 40px;
}
.home-about .discover .discover-box a{
  background: #037B92;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 27px;
  font-weight: 500;
  letter-spacing: 1.2px;
  border-radius: 3px;
}
/* --------------------------------------------------- home-goals ---------------------------------- */
.home-goals{
  background-image: url(../images/goals.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.3s;
  display: block;
  margin: 0;
  height: auto;
  padding-top: 100px;
  z-index: 0;
}
.home-goals .overlay{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #111;
  border-radius: 3px;
}
.home-goals .goals-box{
  background-color: #10181BE6;
  padding: 50px 0;
  height: 300px;
  display: block;
  position: relative;
  transition: 0.3s;
}
.home-goals .goals-box .box{
  text-align: center;
  width: 56%;
  margin: auto;
}
.home-goals .goals-box h2{
  color: #0CC5DD;
    font-family: "cairo", Sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    display: block;
}
.home-goals .goals-box p{
  font-size: 19px;
  color: #d9d8ddd9;
  font-family: "cairo-sem", Sans-serif;
  line-height: 33px;
  margin-bottom: 40px;
}
.home-goals .goals-box a,.home-membership .right-box a{
  background: #037B92;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 10px;
  padding-right: 27px;
  padding-bottom: 11px;
  padding-left: 27px;
  font-weight: 500;
  letter-spacing: 1.2px;
  border-radius: 3px;
}
.home-counter{
  background-color: #10181b;
  padding: 90px 0;
  position: relative;
  display: block;
  margin-top: 150px;
}
.home-counter .count-box span{
  color: #0CC5DD;
  font-size: 65px;
  font-family: "cairo",sans-serif;
  font-weight: 700;
}
.home-counter .count-box p{
  color: #fff;
  font-size: 20px;
  font-family: "cairo",sans-serif;
  
}
/* ----------------------------------------- home-membership ------------------------------------ */
.home-membership{
  position: relative;
  background: #111111;
  display: block;
  padding: 70px 0;
  height: auto;
}
.home-membership h1,.home-membership .right-box h2{
  color: #fff;
  text-align: right;
    font-family: "cairo", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    display: block;
}
.home-membership p{
  font-size: 20px;
  color: #d9d8ddd9;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  line-height: 33px;
  margin-bottom: 40px;
}   
.home-membership .right-box{
  position: relative;
  display: block;
  padding: 50px 20px;
  transition: 0.3s;
  height: 440px;
  opacity: 1;
  background-color: #10181B;
  text-align: right;
}
.home-membership .right-box i{
  color: #0CC5DD;
  font-size: 30px;
  margin-bottom: 30px;
}
.home-membership .right-box h2{
  font-size: 25px;
  letter-spacing: 1.5px;
}
.home-membership .right-box p{
  font-size: 19px;
  margin-bottom: 22px;
}
.home-membership .right-box h6{
  color: #fff;
  font-size: 20px;
}
.home-membership .right-box h6.last{
  margin-bottom: 30px;
}
.home-membership .right-box h6 i{
  font-size: 17px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.home-membership .left-box{
  background-color:#7F522E ;
}
.home-membership .left-box i{
  color: #FFD186;
}
.home-membership .left-box a{
  background: #FFD186;
  color: #10181B;
  font-weight: 600;
}
.home-membership .full-box{
  background-image: url(../images/full-box.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.3s;
  display: block;
  margin: 0;
  height: 505px;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 0;
  margin-top: 50px;
}
.home-membership .full-box .overlay{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #111;
  border-radius: 3px;
}
.home-membership .full-box p{
  width: 46%;
}
/* -------------------------------------------------- home-join ---------------------------------- */
.home-join{
  background-color: #7f522e;
  position: relative;
  display: block;
  padding: 90px 32px;
  height: 520px;
}
.home-join .join-right{
  text-align: right;
}
.home-join .join-right img{
  width: 100px;
  margin-bottom: 20px;
}
.home-join .join-right h2{
  font-family: "cairo-sem", Sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.7;
    color: #fff;
    margin-bottom: 10px;
}
.home-join .join-right p{
  font-size: 20px;
  color: #d9d8dd;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  line-height: 33px;
  margin-bottom: 45px;
}
.home-join .join-right a{
  background: #FFD186;
  color: #10181B;
  font-weight: 600;
  padding: 15px 150px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 1.2px;
  border-radius: 3px;
}
.home-join .join-left{
  position: relative;
  display: block;
}
.home-join .join-left img{
  z-index: 1;
  position: relative;
}
.home-join .join-left .double-image{
  background: #10181b;
  width: 541px;
  height: 360px;
  position: absolute;
  top: 20px;
  left: -20px;
  z-index: 0;
}
/* ------------------------------------------------- Footer ---------------------------------------------------- */
.footer{
  background: #10181b;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
  display: block;
}
.footer img{
  width: 235px;
}
.footer p{
  font-size: 17px;
  color: #d9d8dd;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  line-height: 33px;
  margin-bottom: 20px;
  margin-top: 24px;
  letter-spacing: 1px;
}
.footer .element {
  display:inline-block;
  padding-bottom: 10px;
  line-height: 1.8;
  font-weight: 300;
  position: relative;
  z-index: 1;
}
.footer .element li{
  display: inline-block;
  position: relative;
  margin-left: 15px;
}
.footer .element li i{
padding-left: 10px;
}
.footer .element .styled-icons{
  padding-right: 0px;
}
.footer .element .styled-icons li{
margin-left: 5px;
}
.footer .element .styled-icons i{
color: #d9d8dd;
font-size: 18px;
vertical-align: middle;
}
footer .element .styled-icons img{
  color: #d9d8dd;
  width: 24px;
  height: 35px;
  padding-left: 5px;
  filter: invert(0.8);

}
.footer .footer-widget h5{
  font-size: 23px;
  font-weight: 700;
  line-height: 1.6em;
  letter-spacing: 2.6px;
  font-family: "cairo", sans-serif;
  color: #fbfbfb;
  margin-bottom: 20px;
}
.footer .footer-widget ul{
  padding-right: 0;
}
.footer .footer-widget li a{
  text-align: right;
  color: #d9d8dd;
  font-family: "Cairo", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
}
.footer .footer-widget.clients{
  padding-right: 20px;
}
.footer .footer-widget li a i{
  padding-left: 10px;
  font-size: 16px;
}
.footer-bottom{
  background: #037b92;
  position: relative;
  display: block;
  padding: 12px 0;
}
.footer-bottom p{
  color: #fff;
  font-family: "cairo-sem", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6em;
  letter-spacing: 0px;
  text-align: center;
}
/* ================================================ about-page ================================= */
.page-banner{
  background-image: url(../images/goals.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.3s;
  display: block;
  padding: 90px 0;
  z-index: 0;
}
.service-banner{
  background-image: url(../images/service-banner.jpg);
}
.consult-banner{
  background-image: url(../images/consult-banner.jpg);
}
.contact-banner{
  background-image: url(../images/box-5.jpg);
}
.account-banner{
  background-image: url(../images/banner.jpg);
}
.privacy-banner{
  background-image: url(../images/privacy-banner.webp);
}
.terms-banner{
  background-image: url(../images/terms-banner.jpg);
  background-position: top;
}
.page-banner h2{
  color: #fff;
  font-family: "cairo", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  display: block;
  text-align: center;
}
.page-banner .overlay{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #111;
  border-radius: 3px;
  padding: 90px 0;
}
.home-about .about-image-sec img{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.about-page-sec .right-text p{
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 1.6px;
  margin-top: 26px;
}

.about-vision{
  position: relative;
  padding: 90px 0;
}
.about-vision h2{
  color: #fff;
  font-family: "cairo", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  display: block;
  text-align: center;
}
.about-vision p{
  font-size: 20px;
  color: #d9d8dd;
  font-family: "cairo-sem", Sans-serif;
  font-weight: 600;
  line-height: 1.6em;
  letter-spacing: 0px;
  text-align: center;
}
.about-vision .right-box h2{
  color: #fff;
  text-align: right;
    font-family: "cairo", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    display: block;
}
.about-vision .right-box{
  position: relative;
  display: block;
  padding: 50px 20px;
  transition: 0.3s;
  height: 340px;
  opacity: 1;
  background-color: #10181B;
  text-align: right;
  margin-top: 50px;
}
.about-vision .right-box i{
  color: #0CC5DD;
  font-size: 30px;
  margin-bottom: 30px;
}
.about-vision .right-box h2{
  font-size: 25px;
  letter-spacing: 1.5px;
}
.about-vision .right-box p{
  font-size: 19px;
  margin-bottom: 22px;
  text-align: right;
}
.about-vision .left-box{
  background-color:#7F522E ;
}
.about-vision .left-box i{
  color: #FFD186;
}
.about-vision .left-box a{
  background: #FFD186;
  color: #10181B;
  font-weight: 600;
}
.about-goals{
    background-image: url(../images/about-goals.webp);
    padding-top: 90px;
}
.about-goals .home-counter{
  margin-top: 85px;
  padding: 70px 0;
}
.about-discover-sec{
  position: relative;
  display: block;
  background: #0c0c0c;
  padding-top: 100px;
}
.about-discover-sec .discover {
  position: relative;
  display: block;
  padding-top: 0px;
  padding-bottom: 100px;
}
.about-discover-sec .discover .heading-title h2{
  color: #fff;
    font-family: "cairo", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    display: block;
}
.about-discover-sec .discover .heading-title p{
  color: #d9d8dd;
  width: 100%;
  margin: auto;
  font-size: 19px;
  line-height: 1.9;
  margin-bottom: 30px;
}
.about-discover-sec .discover .discover-box {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.3s;
  display: block;
  margin: 0;
  height: 380px;
  padding-top: 65px;
  padding-left: 5px;
  padding-right:30px;
  z-index: 0;
  text-align: right;
  border-radius: 3px;
  margin-top: 50px;
}
.about-discover-sec .discover .discover-box .overlay{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #111;
  border-radius: 3px;
}
.about-discover-sec .discover .discover-box.box-one{
  background-image: url(../images/about-box1.jpg);
}
.about-discover-sec .discover .discover-box.box-two{
  background-image: url(../images/about-box2.jpg);
}
.about-discover-sec .discover .discover-box.box-three{
  background-image: url(../images/about-box3.jpg);
}
.about-discover-sec .discover .discover-box.box-four{
  background-image: url(../images/about-box4.jpg);
}
.about-discover-sec .discover .discover-box i{
  color: #0CC5DD;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
}
.about-discover-sec .discover .discover-box h2{
  color: #fff;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  display: block;

}
.about-discover-sec .discover .discover-box p{
  font-size: 19px;
  color: #d9d8ddd9;
  text-align: right;
  font-family: "cairo-sem", Sans-serif;
  line-height: 33px;
  margin-bottom: 40px;
}
.about-discover-sec .discover .discover-box h6{
  color: #fff;
  font-size: 19px;
}
.about-discover-sec .discover .discover-box h6.last{
  margin-bottom: 30px;
}
.about-discover-sec .discover .discover-box h6 i{
  font-size: 17px;
  padding-left: 8px;
  margin-bottom: 15px;
  display: inline-block;
}
.about-enjoy{
  background-color: #7F522E;
  position: relative;
  display: block;
  padding: 55px 0;
  transition: 0.3s;
}
.about-enjoy .enjoy-box{
  border: 3px solid #111;
  padding: 25px 0 0;
  position: relative;
  display: block;
  text-align: center;
}
.about-enjoy .enjoy-box img{
  width: 110px;
  margin-bottom: 35px;
}
.about-enjoy .enjoy-box h2{
  color: #fff;
  font-family: "cairo", Sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  display: block;
}
.about-enjoy .enjoy-box p{
  font-size: 19px;
  color: #d9d8ddd9;
  font-family: "cairo-sem", Sans-serif;
  line-height: 33px;
  margin-bottom: 40px;
  width: 75%;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}
.about-enjoy .enjoy-box a{
  background: #FFD186;
  color: #111111;
  font-size: 21px;
  font-family: "cairo", Sans-serif;
  line-height: 1.6;
  font-weight: 600;
  padding:11px 160px ;
  letter-spacing: 1.2px;
  border-radius: 3px;
}
.about-enjoy .enjoy-box ul{
  display: flex;
  justify-content: center;
}
.about-enjoy .enjoy-box ul li{
  padding: 30px 20px 15px;
  color: #fff;
}
.about-enjoy .enjoy-box ul li:first-child{
  padding-right: 0;
}
/* --------------------------------------------- service-page -------------------------------------- */
.service-page-sec .right-text p{
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.5px;
  margin-top: 26px;
}
.service-page-sec .right-text h1{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
  display: block;
  line-height: 42px;
  font-family: "cairo",sans-serif;
}
.service-dis-sec{
  padding-top: 35px;
}
.service-dis-sec .discover .heading-title p {
  color: #d9d8dd;
  width: 93%;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
  margin-bottom: 30px;
}
.service-dis-sec .discover .discover-box h2 {
  color: #0CC5DD;
  text-align: right;
  font-family: "cairo", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  display: block;
}
.service-dis-sec .discover .discover-box p{
  margin-top: 20px;
  margin-bottom: 20px;
}
.service-dis-sec .discover .discover-box h6.last {
  margin-bottom: 35px;
}
.service-dis-sec .discover .discover-box a {
  background: #037B92;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 15px;
  padding-left: 27px;
  font-weight: 500;
  letter-spacing: 1.2px;
  border-radius: 3px;
}
.service-dis-sec .discover .discover-box.box-one{
  background-image: url(../images/box-1.jpg);
}
.service-dis-sec .discover .discover-box.box-two{
  background-image: url(../images/box-2.jpg);
}
.service-dis-sec .discover .discover-box.box-three{
  background-image: url(../images/box-3.jpg);
}
.service-dis-sec .discover .discover-box.box-four{
  background-image: url(../images/box-4.jpg);
}
.service-dis-sec .discover .discover-box.box-five{
  background-image: url(../images/box-5.jpg);
}
.service-dis-sec .discover .discover-box.box-six{
  background-image: url(../images/box-6.jpg);
}
.service-dis-sec .discover .discover-box.box-five h2,
.service-dis-sec .discover .discover-box.box-six h2,
.service-dis-sec .discover .discover-box.box-five h6 i,
.service-dis-sec .discover .discover-box.box-six h6 i{
  color: #ffd186;
}
.service-dis-sec .discover .discover-box.box-five a,
.service-dis-sec .discover .discover-box.box-six a{
  color: #000;
  background: #ffd186;
  font-family: "cairo",sans-serif;
  font-weight: 600;
}
.service-dis-sec .discover .discover-box.box-five .overlay,
.service-dis-sec .discover .discover-box.box-six .overlay{
  background-color: #7F522E;
}
.service-dis-sec .service-facilities {
  position: relative;
  display: block;
  padding-top: 70px;
  margin-top: 80px;
}
.service-dis-sec .service-facilities .about-adv{
  background: #10181B;
  border-bottom: 3px solid #0cc5dd;
  position: relative;
  width: 250px;
  height: 139px;
  margin-right: 15px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 12px;
  margin-top: 33px;
}
.service-dis-sec .service-facilities .about-adv i{
  font-size: 35px;
  color: #0CC5DD;
  display: inline-block;
  line-height: 1;
  transition: all .3s;
  text-align: center;
  padding: 10px 0;
}
.service-dis-sec .service-facilities .about-adv h5{
  font-family: "cairo-sem", Sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.6em;
  padding-top: 8px;
  letter-spacing: 1px;
  color: #fff;
}
.service-join-image{
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.service-page-sec img{
  -webkit-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}
/* ---------------------------------------------- membership-page --------------------------------------- */
.membership-sec{
  background: #111111;
  position: relative;
  display: block;
  padding: 100px 0;
  color: #d9d8dd;
}
.membership-sec .heading-title h2{
  color: #fff;
    font-family: "cairo", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    display: block;
}
.membership-sec .heading-title p{
  color: #d9d8dd;
  width: 92%;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
  margin-bottom: 30px;
}
.membership-sec .row{
  margin: 0 60px;
}
.membership-sec .member-box{
  position: relative;
  background: #10181b;
  border: 3px solid #037b92;
  padding: 40px 50px 50px;
  transition: 0.3s;
  text-align: center;
  margin:50px 0 30px ;
}

.membership-sec .member-box h4{
  color: #fff;
  font-family: "cairo", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  display: block;
  margin-bottom: 27px; 
}
.membership-sec .member-box h6{
  color: #d9d8dd;
  font-family: "cairo", Sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  display: block;
  margin-bottom: 20px; 
}
.membership-sec .member-box h6 span{
  margin-left: 7px;
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    font-weight: 500;
}
.membership-sec .member-box ul{
  padding-right: 14px;
  margin-bottom: 35px;
}
.membership-sec .member-box ul li{
  text-align: right;
    padding: 13px 0;
    font-size: 19px;
    color: #fff;
}
.membership-sec .member-box ul li i{
  color: #0cc5dd;
  padding-left: 8px;
}
.membership-sec .member-box a{
    background: #0cc5dd;
    color: #fff;
    font-weight: 600;
    padding: 10px 26px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.2px;
    border-radius: 3px;
  }
  /* =================================================== Consultation ========================================== */
  .consultation-sec,.Contact-sec {
    background: #111111;
    position: relative;
    display: block;
    padding: 100px 0 ;
    color: #d9d8dd;
  }
  .consultation-sec .heading-title h2,
  .consultation-sec .booking h2 ,
  .Contact-sec .heading-title h2{
    color: #fff;
      font-family: "cairo-sem", Sans-serif;
      font-size: 27px;
      font-weight: 700;
      margin-bottom: 15px;
      letter-spacing: 0.8px;
      display: block;
  }
  .consultation-sec .heading-title p,
  .consultation-sec .booking p{
    color: #d9d8dd;
    width: 100%;
    margin: auto;
    font-size: 19px;
    line-height: 1.9;
    margin-bottom: 30px;
  }
  .Contact-sec .heading-title span{
    color: #0cc5dd;
    font-size: 48px;
  }
  .consultation-sec .about-adv,
  .Contact-sec .about-adv{
    background: #10181B;
    border-bottom: 3px solid #0cc5dd;
    position: relative;
    width: 290px;
    height: 150px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 12px;
    margin-top: 33px;
  }
  .Contact-sec .about-adv{
    width: 258px;
    height: 175px;
  }
  .Contact-sec .about-adv h6{
    font-size: 19px;
    padding: 12px 0;
  }
  .consultation-sec .about-adv.other{
    background-color:#7f522e;
    border-bottom: 3px solid #FFD186;
  }
  .consultation-sec .about-adv i,
  .Contact-sec .about-adv i{
    font-size: 28px;
    color: #0CC5DD;
    display: inline-block;
    line-height: 1;
    transition: all .3s;
    text-align: center;
    padding: 10px 0;
  }
  .consultation-sec .about-adv h5,
  .Contact-sec .about-adv h5{
    font-family: "cairo-sem", Sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.6em;
    padding-top: 8px;
    letter-spacing: 1px;
    color: #fff;
  }
  .consultation-sec .about-adv.other i{
    color:#FFD186;
  }
  .consultation-sec .booking{
    background-color: #10181b;
    margin: 100px 0 0;
    padding: 80px 83px 40px;
  }
  .consultation-sec .booking .booking-form{
    padding:0 100px;
    margin:50px 0;
  }
  .consultation-sec .booking .booking-form .form-control{
    background: none;
    border-bottom: 3px solid #0cc5dd;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    padding-bottom: 22px;
    width: 81%;
    margin: auto;
    font-size: 21px;
    margin-bottom: 30px;
    color: #fff;
  }
  .consultation-sec .booking .booking-form textarea{
    height: 90px !important;
  }
  .consultation-sec .booking .booking-form button{
    background:#037b92;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1.2px;
    border-radius: 1px;
    margin-right: 70px;
    box-shadow: none;
    border: none;
  }
  .consultation-sec .heading-title img{
    width: 100px;
    margin-bottom: 35px;
  }
  /* ================================================ Contact-page==================================== */
  .Contact-sec ul{
    display: inline-block;
  }
  .Contact-sec ul li{
    display: inline-block;
    font-size: 15px;
    padding-left: 16px;
  }
  .Contact-sec ul li i{
    color:#0CC5DD ;
    padding-left: 8px;
    vertical-align: middle;
  }
  .Contact-sec .meta-map{
    background: #10181B;
    border-bottom: 3px solid #0cc5dd;
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 12px;
    margin-top: 33px;
  }
  .Contact-sec .meta-map iframe{
    width: 100%;
    height: 300px;
    padding: 0 15px;
  }
  .Contact-sec .booking span{
    background: #0CC5DD;
    border-radius: 50%;
    padding: 0px 12px;
    font-size: 29px;
    color: #000;
  }
  .Contact-sec .booking span i{
    font-size: 25px;
  }
  .Contact-sec .booking{
    background-color: #10181b;
    margin: 65px 0 0;
    padding: 80px 83px 40px;
  }
  .Contact-sec .booking .booking-form{
    padding:0 100px;
    margin:50px 0;
  }
  .Contact-sec .booking .booking-form .form-control{
    background: none;
    border-bottom: 3px solid #0cc5dd;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    padding-bottom: 22px;
    width: 81%;
    margin: auto;
    font-size: 21px;
    margin-bottom: 30px;
    color: #fff;
  }
  .Contact-sec .booking .booking-form textarea{
    height: 90px !important;
  }
  .Contact-sec .booking .booking-form button{
    background:#037b92;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1.2px;
    border-radius: 1px;
    margin-right: 70px;
    box-shadow: none;
    border: none;
  }
  .Contact-sec .heading-title h2{
    margin-top: 30px;
  }
  /* ============================================ Login-sec =============================================== */
  .login-sec{
    background: #111111;
    position: relative;
    display: block;
    padding: 100px 0 ;
    color: #d9d8dd;
  }
  .login-sec .panel-login{
    width: 60%;
    margin: auto;
  }
  .login-sec .panel-login .panel-heading{
    margin-bottom: 20px;
  }
  .login-sec .panel-login .panel-heading ul{
   display: flex; 
  }
  .login-sec .panel-login .panel-heading ul li{
    display: flex;
    }
  .login-sec .panel-login .panel-heading a{
    background: #0cc5dd;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 102px;
  }
  .login-sec .panel-login .panel-heading .active{
    background-color: #037b92;
    color: #fff;
  }
  .login-sec .panel-login .panel-body .form-control{
    background: #fff;
    border: 2px solid #0cc5dd;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    padding-bottom: 7px;
    width: 100%;
    margin: auto;
    font-size: 15px;
    margin-bottom: 30px;
    color: #fff;
  }
  .login-sec .panel-login .panel-body label{
    font-size: 21px;
    margin-bottom: 25px;
  }
  .login-sec .panel-login .panel-body .forget-pass{
    color: #fff;
    font-size: 22px;
    margin-right: 42%;
  }
  .login-sec .panel-login .panel-body button{
    background:#037b92;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1.2px;
    border-radius: 1px;
    width: 95%;
    margin-right: 16px;
    box-shadow: none;
    border: none;
  }
  .login-sec .panel-login .panel-body label a{
    color: #fff;
  }
  /* ========================= chatbtn ========================*/
  /* CSS Multiple Whatsapp Chat */
#whatsapp-chat {
  box-sizing: border-box !important;
  outline: none !important;
  position: fixed;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  bottom: 90px;
  right: 30px;
  overflow: hidden;
  z-index: 99;
  animation-name: showchat;
  animation-duration: 1s;
  transform: scale(1);
}

a.blantershow-chat {
  background:#037b92;
  color: #fff;
  position: fixed;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  z-index: 98;
  bottom: 25px;
  right: 30px;
  font-size: 31px;
  padding: 14px 16px;
  border-radius: 30px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}


.whatsapp-chat-header {
  background: #037b92;
  color: #fff;
  padding: 20px 15px;
  display: flex;
}
.whatsapp-chat-header h3 {
  margin: 0 0 10px;
}
.whatsapp-chat-header p {
  font-size: 14px;
  line-height: 1.7;
  margin: -10px;
}
.whatsapp-chat-header .whatsapp-chat-name {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.5;
}
.whatsapp-chat-header i{
  padding-left: 22px;
  font-size: 25px;
}
.info-chat span {
  display: block;
}
.start-chat{
  background: #fff;
  padding:12px 15px;
  height: 160px;
}
.start-chat p{
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 15px;
}
.start-chat .client-service{
  background: #f5f7f9;
  border-right: 2px solid #10c904;
  box-shadow: 0 5px 10px #eee;
  border-radius: 3px;
  margin-top: 35px;
}
.start-chat .client-service ul{
  display: flex;
  padding: 10px 0;
  margin: 0;
}
.start-chat .client-service ul li img{
  width: 67px;
  padding-left: 20px;
  margin-right: 10px;
}
.start-chat .client-service ul li {
  font-weight: 600;
  letter-spacing: 0.8px;
}
.start-chat .client-service ul li span{
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.start-chat .client-service ul li i{
  padding-right: 45px;
  font-size: 31px;
  color: #10c904;
  line-height: 45px;
}
a.close-chat {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #fff;
  font-size: 30px;
}

@keyframes ZpjSY {
  0% {
    background-color: #b6b5ba;
  }
  15% {
    background-color: #111111;
  }
  25% {
    background-color: #b6b5ba;
  }
}
@keyframes hPhMsj {
  15% {
    background-color: #b6b5ba;
  }
  25% {
    background-color: #111111;
  }
  35% {
    background-color: #b6b5ba;
  }
}
@keyframes iUMejp {
  25% {
    background-color: #b6b5ba;
  }
  35% {
    background-color: #111111;
  }
  45% {
    background-color: #b6b5ba;
  }
}
@keyframes showhide {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes showchat {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  #whatsapp-chat {
    width: auto;
    left: 5%;
    right: 5%;
    font-size: 80%;
  }
}
.hide {
  display: none;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}

.show {
  display: block;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}

.whatsapp-message-container {
  display: flex;
  z-index: 1;
}

.whatsapp-message {
  padding: 7px 14px 6px;
  background-color: white;
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  transform-origin: center top 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -54px;
  max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
  padding: 20px 20px 20px 10px;
  background-color: #e6ddd4;
  position: relative;
}
.whatsapp-chat-body::before {
  display: block;
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.08;
  background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
}

.dAbFpq {
  display: flex;
  z-index: 1;
}

.eJJEeC {
  background-color: white;
  width: 52.5px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  margin-left: 10px;
  opacity: 0;
  transition: all 0.1s ease 0s;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
}

.hFENyl {
  position: relative;
  display: flex;
}

.ixsrax {
  height: 5px;
  width: 5px;
  margin: 0px 2px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 0px;
  background-color: #9e9da2;
  animation-name: ZpjSY;
}

.dRvxoz {
  height: 5px;
  width: 5px;
  margin: 0px 2px;
  background-color: #b6b5ba;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 0px;
  animation-name: hPhMsj;
}

.kAZgZq {
  padding: 7px 14px 6px;
  background-color: white;
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  transform-origin: center top 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -54px;
  max-width: calc(100% - 66px);
}
.kAZgZq::before {
  position: absolute;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  top: 0px;
  left: -12px;
  width: 12px;
  height: 19px;
}

.bMIBDo {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: #111111;
}

.iSpIQi {
  font-size: 14px;
  line-height: 19px;
  margin-top: 4px;
  color: #111111;
}

.cqCDVm {
  text-align: right;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(17, 17, 17, 0.5);
  margin-right: -8px;
  margin-bottom: -4px;
}
/* ======================================================= privacy-page  =============================== */
.privacy-section,.terms-section{
  background: #111111;
  padding: 70px 0;
}
.privacy-box{
  background: #10181B;
  border-bottom: 3px solid #0cc5dd;
  position: relative;
  width: 100%;
  height: auto;
  margin-right: 15px;
  padding: 20px 0;
  margin-bottom: 12px;
  margin-top: 33px;
}
.privacy-box ul{
  display: flex;
}
.privacy-box ul li i{
  background-color: #0CC5DD;
  border-radius: 30px;
  margin-top: 10px;
  font-size: 21px;
  padding: 7px 8px;
  margin-left: 15px;
  width: 38px;
  height: 38px;
  vertical-align: middle;
}
.privacy-box h2{
  font-family: "cairo-sem", Sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.6em;
    padding-top: 8px;
    color: #fff;
}
.privacy-box p{
  font-size: 19px;
    color: #d9d8ddd9;
    text-align: right;
    font-family: "cairo-sem", Sans-serif;
    line-height: 33px;
    margin-bottom: 20px;
}
.privacy-section .privacy-box:last-child{
  background-color: #7f522e;
  border-bottom: 3px solid #ffd186;
}
.privacy-section .privacy-box:last-child i{
  background-color: #ffd186;
}
/* ======================= mobile -menu===================== */
/* ----------------------------------------
 Mobile Menu
---------------------------------------- */
.Metafit-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  overflow: hidden;
  width: 400px;
  height: 100vh;
  padding: 20px 10px 20px 30px;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-color: var(--white);
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 99999; 
}

.Metafit-header.meta-mobile-menu {
  right: auto;
  left: 0;
  padding: 50px 40px;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #fff;
 }
  .Metafit-header .meta-menu-inner {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -ms-touch-action: auto;
  touch-action: auto;
  overflow-x: hidden !important;
  padding-right: 20px; }

@media (max-width: 479px) {
  .Metafit-header {
    width: 300px; }
  .Metafit-header.meta-mobile-menu {
    padding: 50px 20px; } 
  }

.metafit-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.metafit-menu > ul > li {
  position: relative; }

.metafit-menu > ul > li > a {
  display: block;
  padding: 8px 1px 18px 0;
  font-size: 21px;
  color: #057b93;
  font-weight: 600; 
}
.Metafit-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5); }

.Metafit-header.ltn__utilize-open ,#meta-cart.ltn__utilize-open{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.Metafit-header.meta-mobile-menu.ltn__utilize-open,#meta-cart.ltn__utilize-open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.mobile-menu-toggle {
  margin-right: 15px; }

.mobile-menu-toggle > a {
  width: 24px;
  height: 32px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  margin-left: auto; }

.mobile-menu-toggle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85px;
  height: 85px;
  margin-top: -3px;
  margin-left: -2px;
  cursor: pointer;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }

.mobile-menu-toggle svg path {
  -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  fill: none;
  stroke: #333;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-width: 30px; }

.mobile-menu-toggle svg path#top, .mobile-menu-toggle svg path#bottom {
  stroke-dasharray: 240px 950px; }

.mobile-menu-toggle svg path#middle {
  stroke-dasharray: 240px 240px; }

.mobile-menu-toggle .close svg path#top, .mobile-menu-toggle .close svg path#bottom {
  stroke-dasharray: -650px;
  stroke-dashoffset: -650px; }

.mobile-menu-toggle .close svg path#middle {
  stroke-dasharray: 1px 220px;
  stroke-dashoffset: -115px; }

.meta-menu-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
 }
 .meta-menu-head .site-logo{
  width: 150px;
 }
  .meta-menu-head .meta-close {
    background-color: #057b93;
    font-size: 32px;
    padding: 0 13px 1px;
    border: none;
    line-height: 43px;
    color: #fff;
    border-radius: 3px;
   }

.header-icons .mobile-menu-toggle > a {
  color: #fff; }

.header-icons .mobile-menu-toggle svg path {
  stroke: #fff; }

.menu-btn-border a {
  width: 40px;
  height: 38px;
  border: 1px solid; }
  /* =============================== cart ================================ */
  #meta-cart{
    width: 315px;
    height: 800px;
    position: fixed;
    right: 0;
    left: auto;
    z-index: 9;
    top: 0;
    background: #10181b;
    padding: 50px 15px;
    display: block;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }
  #meta-cart.ltn__utilize-open{
    z-index: 99999;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }
  #meta-cart .cart-name h5{
    color: #fff;
    font-size: 22px;
  }
  .meta-menu-head{
    border-bottom: 1px solid #0cc5dd;
  }
  #meta-cart .metafit-cart-element h6{
    text-align: center;
    margin-top: 69px;
    font-size: 24px;
    line-height: 41px;
    color: #fff;
    margin-bottom: 50px;
  }
  #meta-cart .metafit-cart-element a{
    background: #0cc5dd;
    color: #fff;
    font-weight: 600;
    padding: 10px 26px;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.2px;
    border-radius: 3px;
    margin-right: 25px;
  }
